@inject IDialogService Dialog

<MudDialog DefaultFocus=DefaultFocus.Element>
    <TitleContent>
        <MudText Typo=Typo.h5 Color=@Color>@Title</MudText>
    </TitleContent>
    <DialogContent>
        <div style="min-width:260px;">
            <MudText>@ContentText</MudText>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color=Color.Default Variant=Variant.Filled OnClick=Cancel>@CancelText</MudButton>
        <MudButton Color=@Color Variant=Variant.Filled OnClick=Submit>@OkText</MudButton>
    </DialogActions>
</MudDialog>

@code{
  [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = default!;

    [Parameter] public string ContentText { get; set; } = string.Empty;

    [Parameter] public string Title { get; set; } = "訊息";

    [Parameter] public string OkText { get; set; } = "確認";

    [Parameter] public string CancelText { get; set; } = "取消";

    [Parameter] public Color Color { get; set; } = Color.Primary;

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
}