.demo-box {
  text-align: center;
  margin: 4em;
}

.form-input {
  font-size: 1.25em;
  border: solid 1px gray;
  border-radius: 4px;
  padding: 2px 4px;
  width: 80px;
  text-align: right;
}

  .form-input:focus-visible {
    outline: crimson auto 2px;
  }

p.big-text {
  font-size: 6em;
  color: darkcyan;
  font-family: 微軟正黑體;
}
