/* 參考： https://codepen.io/benfoster/pen/qrwRKM */

button {
  /*  margin: 2em auto;
    display: block; */
  -webkit-appearance: none;
  border: 3px solid rgba(255, 255, 255, 0.45);
  border-radius: 50px;
  padding: 1em 3em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  color: #FFF;
}

.my-button {
  background-image: linear-gradient(90deg, #fa80d2, #fed757);
  transition-duration: .8s;
}

  .my-button:hover {
    background-image: linear-gradient(90deg, #fed757, #fa80d2);
    transform: scale(1.5, 1.5) rotate(360deg);
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.5);
  }
