@implements IAsyncDisposable
@inject IJSRuntime jsr

@*
 * //## 註冊雙向繫結 React 元件：RxCounter
*@

<div @ref=refRoot></div>

@code {
  [Parameter] public string Value { get; set; } = string.Empty;
  [Parameter] public EventCallback<string> OnChange { get; set; }

  //# Resource
  Lazy<Task<IJSObjectReference>> moduleTask = default!;
  IDisposable? dotNetObject = null;
  ElementReference refRoot;

  //※ 將用於訊息向下傳遞 - DidUpdate
  string channel = $"channel-{Guid.NewGuid():N}";

  //# State
  bool f_dirty = false;

  public async ValueTask DisposeAsync()
  {
    dotNetObject?.Dispose();
    dotNetObject = null;

    if (moduleTask.IsValueCreated)
    {
      var module = await moduleTask.Value;
      await module.DisposeAsync();
    }
  }

  protected override void OnInitialized()
  {
    moduleTask = new(() => jsr.InvokeAsync<IJSObjectReference>("import", "./_content/Vista.Component/rxcounter.bundle.js").AsTask());
    dotNetObject = DotNetObjectReference.Create(this);
  }

  protected override void OnParametersSet()
  {
    f_dirty = true;
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      //# 元件 DidMount
      var module = await moduleTask.Value;
      await jsr.InvokeVoidAsync("renderRxReactiveSample", dotNetObject, refRoot, channel, Value);
    }
    else if(f_dirty)
    {
      //# 元件 DidUpate, ※ 使用 messageBus 間接通訊。
      var module = await moduleTask.Value;
      var payload = new { Value };
      await jsr.InvokeVoidAsync("window.eventBus.emit", channel, null, payload);
      f_dirty = false;
    }
  }

  /// <summary>
  /// 當 React 元件有訊息送上來時觸發。
  /// </summary>
  [JSInvokable]
  public Task JsInvokeChange(string newValue) => OnChange.InvokeAsync(newValue);
}