.my-qrcode {
  display: block;
  padding: 8px;
  margin: 8px;
  border: solid 2px blue;
  border-radius: 8px;
}

.label-sticker {
  display: inline-flex;
  padding: 8px;
  margin: 8px;
  border: solid 2px darkgrey;
  border-radius: 8px;
}

.label-sticker2 {
  display: inline-block;
  text-align:center;
  padding: 8px;
  margin: 8px;
  border: solid 2px darkgrey;
  border-radius: 8px;
}
